body,html{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centring{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.inner{
    display: flex;
}
p{
    font-size: 200%;
}
sup{
    font-size: 150%;
}
sub{
    font-size: 150%;
}
input{
    width: 70px;
    border: 1px solid grey;
}