html, body{
    margin:0;
    height: 100%;
}

.page{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.focus {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus_holder {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.focus_holder > * {
    margin: 5px;
}