html{
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: Georgia;
}
#contactMain {
    display: flex;
    justify-content: center;
}
#contactBigCont{
    width: 1242px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    justify-content: center;
}
a{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    text-decoration-color: #0080FF;
}
a:hover{
    color: #0080FF;
}
#contactpodMain{
    width: 1242px;
    height: 100%;
}
.contactCarier {
    position: relative;
    margin-left: 185px;
    margin-right: 185px;
    margin-bottom: 70px;
    padding: 10px;
    transition: height 1s ease-in-out 0s;
}
.contSpace{
    height: 35px;
}
.contactCarierWhite{
    border: solid 1px lightgrey;
    color: black;
}
.contactCarierBlue{
    background-color: #0080FF;
    color: white;
}
.contactImgCont{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 872px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.contactImgPodr{
    position: absolute;
    transition: transform 0.5s ease 0s;
    cursor: pointer;
}
.contactImgSvern{
    position: absolute;
    transition: transform 0.5s ease 0s;
    cursor: pointer;
}
.img-notSel-pos{
    top: 8px;
}
.img-sel-pos{
    bottom: -32px;
}
.contactImgSelecting{
    transform: rotateX(90deg);
}
.contactText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 45px;
    margin: 10px; 
}
.contactMail{
    margin: 10px;
    padding: 5px;
    height: 30px;
    margin-top: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
 .contactSelected{
     height: 600px;
}
.contactInv{
    opacity: 0;
}
.contPoint:hover{
    cursor: pointer;
}
.contactInf {
    overflow: hidden;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px; 
    line-height: 1.2;
}
.contactSize{
    font-size: x-large;
    line-height: 1.4;
    height: 80%;
    color: black;
}