<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root"></div>



        <div id="app">
            <button id="button" type="button">alert</button>
            список дел
            <input type="text" v-model="thing" v-on:keydown.enter="addItem">  
            <ol>
                <li v-for="(item, index) in list" v-on:click="removeItem(index)">
                    {{ item }}
                </li>
            </ol>

            <button type="button" v-on:click="decrease">-</button>
            {{ chislo }}
            <button type="button" v-on:click="increase">+</button>
            <p>кол-во изм. числа {{ changesCount }}</p>

            <input type="checkbox" v-model="visible">
            <transition name="fade">
                <h1 v-show="visible">did you see me?</h1>
            </transition>

            <select v-model="numbers" multiple size="5">
                <option v-for="i in 5">{{ i }}</option>
            </select>
            <p>среднее арифметическое: {{ average }}</p>

            <input type="checkbox" v-model="visible1">
            <h1 v-show="visible1">see me</h1>

            <input type="checkbox" v-model="visible2">
            <h1 v-if="visible2">element s v-if исчезает вовсе со страницы типо удаляется</h1>

            <button type="button" v-on:click="double">удвоить</button>
            <p>{{ number }}</p>
            <button type="button" v-on:click="half">уменьшить в двое</button>
            <ul>
                <li v-for="(item, index) in items">
                    {{ index + 1 }} -- {{ item.text }}
                </li>
                <li v-for="i in p">
                    {{ i * p }}
                </li>
            </ul>
            <div>
                <input type="number" v-model="n">
                <p> кв: {{n * n}}</p>
            </div>
            <div>
                <input type="checkbox" v-model="checked">
                <p>{{ checked ? "YES" : "NO" }}</p>
            </div>
            <div>
                <input type="text" v-model="query">
                <a v-bind:href="'https://google.ru/search?q=' + query"> search</a>
            </div>
            <input type="range" v-model="sizeFactor" min="1" max="5" step="0.001">
            <p v-bind:style="{ 'font-size': sizeFactor + 'em' }">text</p>
        </div>

        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="bundle.js"></script>
    </body>
</html>